@import "color";

.character {
    width: 100vw;
    font-size: 1.9vw;
    padding: 4em;
    box-sizing: border-box;
    line-height: 1.6;
    display: grid;
    grid-template-columns: 8fr 5fr;
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    column-gap: 1em;
    row-gap: 2em;

    &__img-container {
        position: relative;
        width: 100%;

        &::before {
            content: "";
            display: block;
            padding-top: 133%;
        }
    }

    &__img {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 0.2em solid $gray-900;
        object-fit: cover;
        &:hover {
            cursor: pointer;
        }
    }

    &__damage {
        display: block;
        position: absolute;
        bottom: -0.8em;
        left: 0.4em;
        background-color: $gray-700;
        display: grid;
        column-gap: 1em;
        grid-auto-flow: column;
        padding: 0.2em;
        border-radius: 0.2em;
        &::before {
            color: $gray-000;
            content: "ダメージ";
        }
    }

    &__damage-circle {
        &--true {
            display: block;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            border: 0.3em solid $gray-500;
            background-color: $gray-900;
            &:hover {
                cursor: pointer;
            }
        }

        &--false {
            display: block;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            border: 0.3em solid $gray-500;
            background-color: $gray-100;
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 0.1em solid $gray-900;
    }

    &__name-container {
        display: grid;
        grid-auto-rows: max-content;
        justify-content: center;
    }

    &__job-container {
        display: flex;
    }

    &__title {
        font-size: 0.8em;
    }

    &__name {
        font-size: 1.2em;
    }

    &__catchphrase {
        align-self: center;
        display: flex;
        &::before {
            content: "『";
        }
        &::after {
            content: "』";
        }
    }

    &__description {
        height: calc(1.6em * 8);
        border: 0.1em solid $gray-900;
    }
    
    &__ubel-code-list {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 13em 13em 13em;
        padding: 1em;
        padding-top: 2.6em;
        position: relative;
        box-sizing: border-box;
        border: 0.1em solid $gray-900;
        justify-content: space-between;
        row-gap: 1em;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding-left: 1em;
            color: $gray-000;
            background-color: $gray-900;
            content: "ユーベルコード";
        }
    }

    &__item-list {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 13em 13em 13em;
        padding: 1em;
        padding-top: 2.6em;
        position: relative;
        box-sizing: border-box;
        border: 0.1em solid $gray-900;
        justify-content: space-between;
        row-gap: 1em;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding-left: 1em;
            color: $gray-000;
            background-color: $gray-900;
            content: "アイテム";
        }
    }

    &__skill-list {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 13em 13em 13em;
        padding: 1em;
        padding-top: 2.6em;
        position: relative;
        box-sizing: border-box;
        border: 0.1em solid $gray-900;
        justify-content: space-between;
        row-gap: 1em;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding-left: 1em;
            color: $gray-000;
            background-color: $gray-900;
            content: "スキル";
        }
    }

    &__list-btn {
        align-self: center;
        justify-self: center;
        border-radius: 50%;
        background-color: $gray-900;
        color: $gray-000;
        outline: none;
        font-size: 1em;
        line-height: 2;
        width: 2em;
        height: 2em;
        padding: 0;
        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (orientation: landscape) and (min-width: 1280px) {
    .character {
        width: 1280px;
        font-size: 24px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media print {
    .character {
        font-size: 1.9vw;
        &__list-btn {
            display: none;
        }
    }
}
