@import "color";

.character {
    width: 100vw;
    height: 141vw;
    font-size: 1.9vw;
    padding: 4em;
    box-sizing: border-box;
    line-height: 1.6;
    display: grid;
    grid-template-columns: 8fr 5fr;
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    column-gap: 1em;
    row-gap: 2em;

    &__img-container {
        position: relative;
        width: 100%;

        &::before {
            content: "";
            display: block;
            padding-top: 133%;
        }
    }

    &__img {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 0.2em solid $gray-900;
        object-fit: cover;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 0.1em solid $gray-900;
    }

    &__name-container {
        display: grid;
        grid-auto-rows: max-content;
        justify-content: center;
        justify-items: left;
    }

    &__title {
        font-size: 0.8em;
    }

    &__name {
        font-size: 1.2em;
    }

    &__catchphrase {
        align-self: center;
        &::before {
            content: "『";
        }
        &::after {
            content: "』";
        }
    }

    &__description {
        height: calc(1.6em * 8);
        overflow-y: scroll;
    }
    
    &__ubel-code-list {
        grid-column: 1 / -1;
        display: grid;
        grid-auto-columns: 15em;
        padding: 1em;
        padding-top: 2.6em;
        position: relative;
        box-sizing: border-box;
        border: 0.1em solid $gray-900;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding-left: 1em;
            color: $gray-000;
            background-color: $gray-900;
            content: "ユーベルコード";
        }
    }

    &__item-list {
        grid-column: 1 / -1;
        display: grid;
        grid-auto-columns: 15em;
        padding: 1em;
        padding-top: 2.6em;
        position: relative;
        box-sizing: border-box;
        border: 0.1em solid $gray-900;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding-left: 1em;
            color: $gray-000;
            background-color: $gray-900;
            content: "アイテム";
        }
    }

    &__skill-list {
        grid-column: 1 / -1;
        display: grid;
        grid-auto-columns: 15em;
        padding: 1em;
        padding-top: 2.6em;
        position: relative;
        box-sizing: border-box;
        border: 0.1em solid $gray-900;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding-left: 1em;
            color: $gray-000;
            background-color: $gray-900;
            content: "スキル";
        }
    }
}