@import "btn";
@import "color";

.h-menu {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    grid-auto-flow: column;
    column-gap: 1ch;
    font-size: 1.9vw;
    &__btn {
        @extend %btn;
        background-color: $gray-500;
        color: $gray-000;
    }
}

@media screen and (orientation: landscape) and (min-width: 1280px) {
    .h-menu {
        width: 1280px;
        font-size: 24px;
    }
}

@media print {
    .h-menu {
        display: none;
    }
}